.o-custom-currency {
  .o-format-proposals {
    color: black;
  }

  .o-format-examples {
    background: #f9fafb;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #d8dadd;
    color: #374151;
  }

  table {
    table-layout: fixed;
  }
}
