.o-spreadsheet {
  .o-custom-currency {
    .o-format-examples {
      background: var(--os-gray-100);
      padding: 8px;
      border-radius: 4px;
      border: 1px solid var(--os-gray-300);
    }
    table {
      table-layout: fixed;
    }
  }
}
