.o-spreadsheet {
  .o-fullscreen-chart-overlay {
    z-index: var(--os-components-importance-fullscreen-chart);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 60px;

    .o-figure:not(:hover) .o-dashboard-chart-select {
      display: block !important;
    }
  }
}
