.o-spreadsheet {
  .o-color-picker {
    padding: var(--os-picker-padding) 0;
    /* FIXME: this is useless, overiden by the popover container */
    box-shadow: 1px 2px 5px 2px rgba(51, 51, 51, 0.15);
    line-height: 1.2;
    overflow-y: auto;
    overflow-x: hidden;
    width: var(--os-container-width);

    .o-color-picker-section-name {
      margin: 0px var(--os-item-border-width);
      padding: 4px var(--os-picker-padding);
    }
    .colors-grid {
      display: grid;
      padding: var(--os-line-vertical-padding) var(--os-picker-padding);
      grid-template-columns: repeat(var(--os-items-per-line), 1fr);
      grid-gap: var(--os-item-gap);
    }
    .o-color-picker-toggler-button {
      display: flex;
      .o-color-picker-toggler-sign {
        display: flex;
        margin: auto auto;
        width: 55%;
        height: 55%;
        .o-icon {
          width: 100%;
          height: 100%;
        }
      }
    }
    .o-color-picker-line-item {
      width: calc(var(--os-item-edge-length) + (2 * var(--os-item-border-width)));
      height: calc(var(--os-item-edge-length) + (2 * var(--os-item-border-width)));
      margin: 0px;
      border-radius: 50px;
      border: var(--os-item-border-width) solid var(--os-gray-600);
      padding: 0px;
      font-size: 16px;
      &:hover {
        background-color: var(--os-background-gray-color-hover);
        outline: 1px solid var(--os-gray-500);
        cursor: pointer;
      }
    }
    .o-buttons {
      padding: var(--os-picker-padding);
      display: flex;
      .o-cancel {
        border: var(--os-item-border-width) solid var(--os-gray-300);
        width: 100%;
        padding: 5px;
        font-size: 14px;
        background-color: var(--os-white-bg);
        border-radius: 4px;
        &:hover:enabled {
          background-color: var(--os-background-gray-color-hover);
        }
      }
    }
    .o-add-button {
      border: var(--os-item-border-width) solid var(--os-gray-300);
      padding: 4px;
      background-color: var(--os-white-bg);
      border-radius: 4px;
      &:hover:enabled {
        background-color: var(--os-background-gray-color-hover);
      }
    }
    .o-separator {
      border-bottom: var(--os-menu-separator-border-width) solid var(--os-separator-color);
      margin-top: var(--os-menu-separator-padding);
      margin-bottom: var(--os-menu-separator-padding);
    }

    .o-custom-selector {
      padding: calc(var(--os-picker-padding) + 2px) var(--os-picker-padding);
      position: relative;
      .o-gradient {
        margin-bottom: calc(var(--os-magnifier-edge) / 2);
        border: var(--os-item-border-width) solid var(--os-gray-300);
        width: calc(var(--os-inner-gradient-width) + (2 * var(--os-item-border-width)));
        height: calc(var(--os-inner-gradient-height) + (2 * var(--os-item-border-width)));
        position: relative;
      }

      .magnifier {
        height: var(--os-magnifier-edge);
        width: var(--os-magnifier-edge);
        border-radius: 50%;
        border: 2px solid var(--os-white);
        box-shadow: 0px 0px 3px var(--os-gray-300);
        position: absolute;
        z-index: 2;
      }
      .saturation {
        background: linear-gradient(to right, var(--os-white) 0%, transparent 100%);
      }
      .lightness {
        background: linear-gradient(to top, #000 0%, transparent 100%);
      }
      .o-hue-picker {
        border: var(--os-item-border-width) solid var(--os-gray-300);
        width: 100%;
        height: 12px;
        border-radius: 4px;
        background: linear-gradient(
          to right,
          hsl(0, 100%, 50%) 0%,
          hsl(0.2turn, 100%, 50%) 20%,
          hsl(0.3turn, 100%, 50%) 30%,
          hsl(0.4turn, 100%, 50%) 40%,
          hsl(0.5turn, 100%, 50%) 50%,
          hsl(0.6turn, 100%, 50%) 60%,
          hsl(0.7turn, 100%, 50%) 70%,
          hsl(0.8turn, 100%, 50%) 80%,
          hsl(0.9turn, 100%, 50%) 90%,
          hsl(1turn, 100%, 50%) 100%
        );
        position: relative;
        cursor: crosshair;
      }
      .o-hue-slider {
        margin-top: -3px;
      }
      .o-custom-input-preview {
        padding: 2px 0px;
        display: flex;
        input {
          width: 50%;
          border-radius: 4px;
          padding: 4px 23px 4px 10px;
          height: 24px;
          border: 1px solid var(--os-gray-300);
          margin-right: 2px;
        }
        .o-wrong-color {
          /* FIXME bootstrap class instead? */
          outline-color: red;
          border-color: red;
          &:focus {
            outline-style: solid;
            outline-width: 1px;
          }
        }
      }
      .o-custom-input-buttons {
        padding: 2px 0px;
        display: flex;
        justify-content: end;
      }
      .o-color-preview {
        border: 1px solid var(--os-gray-300);
        border-radius: 4px;
        width: 50%;
      }
    }
  }
}
