.o-selection {
  .o-selection-input {
    padding: 2px 0px;

    input.o-invalid {
      background-color: $os-alert-danger-bg;
    }
    .input-icon {
      right: 7px;
      top: 4px;
    }
    .o-drag-handle {
      cursor: move;
    }
  }
  .o-disabled-ranges {
    color: #888 !important;
  }
  .o-button {
    flex-grow: 0;
  }

  /* Make the character a bit bigger
    compared to its neighbor INPUT box  */
  .o-remove-selection {
    font-size: calc(100% + 4px);
  }
}
