.o-spreadsheet {
  .o-sidePanel {
    .o-dv-preview {
      height: 70px;
      cursor: pointer;

      .o-dv-preview-description {
        font-size: 13px;
      }

      &:hover {
        background-color: var(--os-background-gray-color-hover);
      }

      &:not(:hover) .o-dv-delete-button {
        display: none !important;
      }
    }
  }
}
