.o-spreadsheet {
  .o-sidePanel {
    .o-dv-preview {
      height: 70px;
      cursor: pointer;
      border-bottom: 1px solid var(--os-figure-border-color);

      .o-dv-preview-description {
        font-size: 13px;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }

      &:not(:hover) .o-dv-delete-button {
        display: none !important;
      }
    }
  }
}
