:root {
  font-size: 12px;
}

html {
  height: 100%;
}
body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu,
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji" !important;
  height: 100dvh !important;
  width: 100dvw !important;
}
.o-spreadsheet {
  width: 100%;
  height: 100%;
}
