.o-spreadsheet {
  .o-chart-custom-tooltip {
    font-size: 12px;
    background-color: var(--os-white-bg);
    color: var(--os-text-body);
    z-index: var(--os-components-importance-figure-tooltip);
  }
}
