.o-spreadsheet {
  .o-topbar-composer-container {
    height: var(--os-desktop-topbar-toolbar-height);
  }

  .o-topbar-composer {
    height: fit-content;
    margin-top: -1px;
    margin-bottom: -1px;
    font-family: var(--os-default-font);

    &.o-topbar-composer-inactive {
      border-right: none !important;
    }

    &.o-topbar-composer-active {
      border-color: var(--os-selection-border-color) !important;
      z-index: var(--os-components-importance-top-bar-composer);
    }
  }

  .user-select-text {
    user-select: text;
  }
}
