.o-topbar-composer-container {
  height: $os-desktop-topbar-toolbar-height;
}

.o-topbar-composer {
  height: fit-content;
  margin-top: -1px;
  margin-bottom: -1px;
  border: 1px solid;
  font-family: $os-default-font;

  /* In readonly we always show the fx icon if the composer is empty, not matter the focus */
  .o-composer:empty:not(:focus):not(.active)::before,
  &.o-topbar-composer-readonly .o-composer:empty::before {
    content: url("data:image/svg+xml,${encodeURIComponent(FX_SVG)}");
    position: relative;
    top: 20%;
  }
}

.user-select-text {
  user-select: text;
}
