.o-spreadsheet .o-formula-assistant {
  background: #ffffff;
  .o-formula-assistant-head {
    background-color: #f2f2f2;
    padding: 10px;
  }
  .o-formula-assistant-core {
    border-bottom: 1px solid gray;
  }
  .o-formula-assistant-arg-description {
    font-size: 85%;
  }
  .o-formula-assistant-focus {
    color: $os-composer-assistant-color;
    text-shadow: 0px 0px 1px $os-composer-assistant-color;
    & + div {
      color: black;
    }
  }
  .o-formula-assistant-gray {
    color: gray;
  }
  .collapsor {
    cursor: pointer;
    &:hover {
      background-color: $os-gray-400;
      color: $os-button-active-text-color;
    }

    .collapsor-arrow {
      transform-origin: 6px 8px;
      transform: rotate(-180deg);
      transition: transform 0.2s ease-in-out;

      .o-icon {
        width: 12px;
        height: 16px;
      }
    }
    &.collapsed .collapsor-arrow {
      transform: rotate(0deg);
    }
  }
}
