.o-spreadsheet .o-formula-assistant {
  outline: unset;
  .o-formula-assistant-head {
    background-color: var(--os-composer-assistant-background);
    padding: 10px;
  }
  .o-formula-assistant-arg-description {
    font-size: 85%;
  }
  .o-formula-assistant-focus {
    color: var(--os-composer-assistant-color);
    text-shadow: 0px 0px 1px var(--os-composer-assistant-color);
    & + div {
      color: var(--os-black);
    }
  }
  .o-formula-assistant-gray {
    color: gray;
  }
  .collapsor {
    cursor: pointer;
    &:hover {
      background-color: var(--os-gray-400);
      color: var(--os-button-active-text-color);
    }

    .collapsor-arrow {
      transform-origin: 6px 8px;
      transform: rotate(-180deg);
      transition: transform 0.2s ease-in-out;

      .o-icon {
        width: 12px;
        height: 16px;
      }
    }
    &.collapsed .collapsor-arrow {
      transform: rotate(0deg);
    }
  }
}
