.o-spreadsheet {
  .o_pivot_html_renderer {
    width: 100%;
    border-collapse: collapse;

    &:hover {
      cursor: pointer;
    }

    td,
    th {
      border: 1px solid var(--os-gray-300);
      background-color: var(--os-white-bg);
      padding: 0.3rem;
      white-space: nowrap;

      &:hover {
        filter: brightness(0.9);
      }
    }

    td {
      text-align: right;
    }

    th {
      background-color: var(--os-background-gray-color);
      font-weight: bold;
      color: var(--os-black);
    }

    .o_missing_value {
      color: var(--os-gray-600);
      background: var(--os-button-active-bg);
    }
  }
}
