<templates>
  <t t-name="o-spreadsheet-Menu" owl="1">
    <Popover
      t-if="props.menuItems.length"
      position="props.position"
      childWidth="MENU_WIDTH"
      childHeight="menuHeight"
      flipHorizontalOffset="popover.flipHorizontalOffset"
      flipVerticalOffset="popover.flipVerticalOffset"
      marginTop="popover.marginTop">
      <div
        t-ref="menu"
        class="o-menu"
        t-on-scroll="onScroll"
        t-on-wheel.stop=""
        t-on-click.stop=""
        t-on-contextmenu.prevent="">
        <t t-foreach="props.menuItems" t-as="menuItem" t-key="menuItem.id">
          <t t-set="isMenuRoot" t-value="isRoot(menuItem)"/>
          <t t-set="isMenuEnabled" t-value="isEnabled(menuItem)"/>
          <div
            t-att-title="getName(menuItem)"
            t-att-data-name="menuItem.id"
            t-on-click="() => this.onClickMenu(menuItem, menuItem_index)"
            t-on-mouseover="() => this.onMouseOver(menuItem, menuItem_index)"
            class="o-menu-item"
            t-att-class="{ 'o-menu-root': isMenuRoot, 'disabled': !isMenuEnabled}"
            t-att-style="getColor(menuItem)">
            <span class="o-menu-item-name" t-esc="getName(menuItem)"/>
            <span
              t-if="getDescription(menuItem)"
              class="o-menu-item-description"
              t-esc="getDescription(menuItem)"
            />
            <t t-if="isMenuRoot">
              <span t-call="o-spreadsheet-Icon.TRIANGLE_RIGHT"/>
            </t>
            <t t-elif="menuItem.icon">
              <i t-att-class="menuItem.icon" class="o-menu-item-icon"/>
            </t>
          </div>
          <div t-if="menuItem.separator and !menuItem_last" class="o-separator"/>
        </t>
      </div>
      <Menu
        t-if="subMenu.isOpen"
        position="subMenuPosition"
        menuItems="subMenu.menuItems"
        depth="props.depth + 1"
        onMenuClicked="props.onMenuClicked"
        onClose="() => this.close()"
      />
    </Popover>
  </t>
</templates>
