.o-spreadsheet {
  .o-menu {
    user-select: none;
    .o-menu-item {
      outline: none;
      cursor: pointer;
      user-select: none;
      height: var(--os-desktop-menu-item-height);
      padding: var(--os-menu-item-padding-vertical) var(--os-menu-item-padding-horizontal);
      .o-menu-item-icon {
        width: calc(var(--os-desktop-menu-item-height) - 2 * var(--os-menu-item-padding-vertical));
        line-height: calc(
          var(--os-desktop-menu-item-height) - 2 * var(--os-menu-item-padding-vertical)
        );
      }
      & {
        &.o-menu-item-active {
          background-color: var(--os-button-active-bg);
          color: var(--os-button-active-text-color);
        }
        .o-menu-item-icon {
          .o-icon {
            color: var(--os-icons-color);
          }
        }
        .o-menu-item-description {
          color: grey;
        }
      }
      &.disabled {
        &,
        .o-menu-item-description {
          color: var(--os-disabled-text-color);
        }
      }
      .o-menu-item-name {
        min-width: 40%;
      }
      .o-menu-item-icon {
        display: inline-block;
        margin: 0px 8px 0px 0px;
      }
    }
  }
  &.o-spreadsheet-mobile {
    .o-menu-item {
      height: var(--os-mobile-menu-item-height);
    }
  }
}
