.o-spreadsheet .o-pivot-custom-groups {
  .o_side_panel_collapsible_title {
    font-size: 13px !important;
    padding: 4px 0 4px 0 !important;

    .collapsor > div {
      padding-left: 2px !important;
    }

    .collapsor-arrow {
      transform-origin: 5px 7px;
      .o-icon {
        width: 10px;
        height: 14px;
      }
    }
  }

  .os-collapse > div {
    padding: 0 !important;
  }
}
