.o-spreadsheet .o-pivot-overlay {
  pointer-events: none;
  z-index: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  justify-content: start; /* don't stretch horizontally */
  align-content: start; /* don't stretch vertically */
  .o-pivot-overlay-section {
    /* height: fit-content;
    width: fit-content; */
    pointer-events: auto;
  }

  .o-pivot-columns {
    align-self: end;
  }

  .o-pivot-overlay-title {
    font-weight: 500;
  }

  .o-group-separator {
    font-size: 18px;
    line-height: 18px;
  }

  .o-add-group {
    cursor: pointer;
  }

  .o-pivot-area {
    pointer-events: auto;
    border: 2px solid;
  }

  .o-exit-pivot-edition {
    width: fit-content;
  }
}
