.o-spreadsheet .o-pivot-overlay {
  pointer-events: none;
  z-index: 1;

  .o-pivot-overlay-section {
    height: fit-content;
    width: fit-content;
    pointer-events: auto;
  }

  .o-pivot-overlay-title {
    font-weight: 500;
  }

  .o-group-separator {
    font-size: 18px;
    line-height: 18px;
  }

  .o-add-group {
    cursor: pointer;
  }

  .o-pivot-area {
    pointer-events: auto;
    border: 2px solid;
  }
}
