.o-spreadsheet {
  .o-table-style-editor-panel {
    .o-table-style-list-item {
      margin: 2px 7px;
      padding: 6px 9px;
      .o-table-preview {
        width: 71px;
        height: 51px;
      }
    }
  }
}
