.o-spreadsheet {
  .o-scrollbar {
    position: absolute;
    overflow: auto;
    z-index: var(--os-components-importance-scroll-bar);
    background-color: var(--os-background-gray-color);
    &.corner {
      box-sizing: content-box;
      right: 0px;
      bottom: 0px;
      height: var(--os-scrollbar-width);
      width: var(--os-scrollbar-width);
      border-top: 1px solid #e2e3e3;
      border-left: 1px solid #e2e3e3;
    }
  }
}
