.o-spreadsheet {
  .o-scrollbar {
    position: absolute;
    z-index: var(--os-components-importance-scroll-bar);
    background-color: var(--os-background-gray-color);

    &.vertical {
      overflow: hidden auto;
    }

    &.horizontal {
      overflow: auto hidden;
    }

    &.corner {
      box-sizing: content-box;
      right: 0px;
      bottom: 0px;
      height: var(--os-scrollbar-width);
      width: var(--os-scrollbar-width);
    }
  }
}
