.o-spreadsheet {
  color: $os-text-body;

  input {
    background-color: white;
  }

  &.o-spreadsheet-mobile .o-spreadsheet-topbar-wrapper,
  .o-spreadsheet-bottombar-wrapper {
    box-shadow: 0 0 3px 1px lightgray;
  }
  .o-spreadsheet-bottombar-wrapper {
    overscroll-behavior: none;
  }
}
