.o-spreadsheet {
  color: $os-text-body;

  input {
    background-color: white;
  }

  &.o-spreadsheet-mobile .o-spreadsheet-topbar-wrapper,
  .o-spreadsheet-bottombar-wrapper {
    box-shadow: 0 0 3px 1px lightgray;
  }
  .o-spreadsheet-bottombar-wrapper {
    overscroll-behavior: none;
  }
}
.o-spreadsheet {
  position: relative;
  display: grid;
  font-size: 14px;

  .text-muted {
    color: $os-text-body-muted !important;
  }
  .o-disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
  }

  &,
  *,
  *:before,
  *:after {
    /* rtl not supported ATM */
    direction: ltr;
  }
  .o-separator {
    border-bottom: $os-menu-separator-border-width solid $os-separator-color;
    margin-top: $os-menu-separator-padding;
    margin-bottom: $os-menu-separator-padding;
  }
  .o-hoverable-button {
    border-radius: 2px;
    cursor: pointer;
    .o-icon {
      color: $os-text-body;
    }
    &:not(.o-disabled):not(.active):hover {
      background-color: $os-button-hover-bg;
      color: $os-button-hover-text-color;
      .o-icon {
        color: $os-button-hover-text-color;
      }
    }
    &.active {
      background-color: $os-button-active-bg;
      color: $os-button-active-text-color;
      .o-icon {
        color: $os-button-active-text-color;
      }
    }
  }

  .o-grid-container {
    display: grid;
    background-color: $os-header-grouping-background-color;

    .o-top-left {
      border: 1px solid $os-grid-border-color;
      margin-bottom: -1px;
      margin-right: -1px;
    }

    .o-column-groups {
      grid-column-start: 2;
      border-top: 1px solid $os-grid-border-color;
    }

    .o-row-groups {
      grid-row-start: 2;
    }

    .o-group-grid {
      border-top: 1px solid $os-grid-border-color;
      border-left: 1px solid $os-grid-border-color;
    }
  }

  .o-input {
    min-width: 0px;
    padding: 1px 0;
    width: 100%;
    outline: none;
    border-color: $os-gray-300;
    color: $os-gray-900;

    &::placeholder {
      opacity: 0.5;
    }
    &:focus {
      border-color: $os-action-color;
    }
  }

  select.o-input {
    cursor: pointer;
    border-width: 0 0 1px 0;
    padding: 1px 6px 1px 0px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent url("data:image/svg+xml,${encodeURIComponent(CARET_DOWN_SVG)}")
      no-repeat right center;
    text-overflow: ellipsis;

    &:disabled {
      color: $os-disabled-text-color;
      opacity: 0.4;
      cursor: default;
    }
  }

  .o-input[type="text"] {
    border-width: 0 0 1px 0;
  }

  .o-input[type="number"],
  .o-number-input {
    border-width: 0 0 1px 0;
    /* Remove number input arrows */
    appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.o-two-columns {
  grid-column: 1 / 3;
}

.o-text-icon {
  vertical-align: middle;
}
.o-grid {
  position: relative;
  overflow: hidden;
  background-color: $os-background-gray-color;
  &:focus {
    outline: none;
  }

  > canvas {
    box-sizing: content-box;
    border-bottom: 1px solid #e2e3e3;
    border-right: 1px solid #e2e3e3;
  }

  .o-grid-overlay {
    position: absolute;
    outline: none;
  }
}

.o-button {
  border: 1px solid;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  height: 32px;
  line-height: 16px;
  flex-grow: 1;
  background-color: $os-button-bg;
  border: 1px solid $os-gray-200;
  color: $os-text-body;

  &:disabled {
    color: $os-disabled-text-color;
  }

  &.primary {
    background-color: $os-primary-button-bg;
    border-color: $os-primary-button-bg;
    color: #fff;
    &:hover:enabled {
      color: #fff;
      background-color: $os-primary-button-hover-bg;
    }
    &:active:enabled {
      background-color: $os-primary-button-active-bg;
      color: $os-primary-button-bg;
    }
    &.o-disabled,
    &:disabled {
      opacity: 0.5;
    }
  }

  &:hover:enabled {
    color: $os-button-hover-text-color;
    background-color: $os-button-hover-bg;
  }
  &:active:enabled {
    color: $os-button-active-text-color;
    background-color: $os-button-active-bg;
  }

  &.o-disabled,
  &:disabled {
    opacity: 0.8;
  }

  &.o-button-danger:hover {
    color: #ffffff;
    background: $os-alert-danger-border;
  }
}

.o-button-link {
  cursor: pointer;
  text-decoration: none;
  color: $os-action-color;
  font-weight: 500;
  &:hover,
  &:active {
    color: $os-action-color-hover;
  }
}

.o-button-icon {
  cursor: pointer;
  color: $os-text-body-muted;
  font-weight: 500;
  &:hover,
  &:active {
    color: $os-text-body;
  }
}

.o-spreadsheet-bottombar-wrapper {
  z-index: $os-componentsimportance-scrollbar---1;
}
