.o-spreadsheet {
  @media (max-width: 1200px) {
    .o-topbar-responsive {
      flex-direction: column !important;
    }
  }

  @media (max-width: 768px) {
    .topbar-banner span {
      overflow: auto;
      align-items: normal !important;
    }
  }

  .tool-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .o-topbar-divider {
    width: 0;
    margin: 0 6px;
    height: 100%;
  }

  .o-toolbar-button {
    height: 30px;
  }

  .o-spreadsheet-topbar {
    line-height: 1.2;
    font-size: 14px;
    font-weight: 500;

    .o-topbar-top {
      padding: 2px 10px;

      /* Menus */
      .o-topbar-topleft {
        .o-topbar-menu {
          padding: 4px 6px;
          margin: 0 2px;

          &.active {
            background-color: var(--os-button-active-bg);
            color: var(--os-button-active-text-color);
          }
        }
      }
    }

    .topbar-banner {
      height: var(--os-desktop-topbar-toolbar-height);

      .alert-info {
        border-left: 3px solid var(--os-alert-info-border);
      }
    }

    .o-topbar-composer {
      flex-grow: 1;
    }

    /* Toolbar */
    .o-topbar-toolbar {
      height: var(--os-desktop-topbar-toolbar-height);

      .o-readonly-toolbar {
        background-color: var(--os-gray-100);
        padding-left: 18px;
        padding-right: 18px;
      }

      /* Toolbar */
      .o-toolbar-tools {
        cursor: default;
      }

      .o-named-range-selector-container {
        width: 100px;
      }
    }
  }

  &.o-spreadsheet-mobile {
    .o-topbar-toolbar {
      height: var(--os-mobile-topbar-toolbar-height);
    }
    .o-topbar-divider {
      border-width: 2px !important;
      border-radius: 4px;
      height: 30px;
    }

    .o-toolbar-button {
      height: 35px;
      width: 31px;
      .o-toolbar-button.o-mobile-disabled * {
        color: var(--os-disabled-text-color);
        cursor: not-allowed;
      }
    }
  }
}
