.o-spreadsheet {
  div.o-figure {
    color-scheme: light;
    color: var(--os-text-body);

    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;

    &:focus {
      outline: none;
    }
  }

  .o-figure-info-icon {
    margin-top: 2px;
    width: 15px;
    height: 15px;
  }

  div.o-figure-border {
    z-index: 1;
    border: 0px solid var(--os-figure-border-color);

    &.o-selected {
      border-color: var(--os-selection-border-color);
    }
  }

  .o-figure-wrapper {
    position: absolute;
    box-sizing: content-box;
    pointer-events: auto;
    z-index: var(--os-components-importance-figure);

    &.o-figure-selected {
      z-index: var(--os-components-importance-figure-selected);
    }

    .o-fig-anchor {
      z-index: var(--os-components-importance-figure-anchor);
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: var(--os-selection-border-color);
      outline: 1px solid white;

      &.o-top {
        cursor: n-resize;
      }
      &.o-topRight {
        cursor: ne-resize;
      }
      &.o-right {
        cursor: e-resize;
      }
      &.o-bottomRight {
        cursor: se-resize;
      }
      &.o-bottom {
        cursor: s-resize;
      }
      &.o-bottomLeft {
        cursor: sw-resize;
      }
      &.o-left {
        cursor: w-resize;
      }
      &.o-topLeft {
        cursor: nw-resize;
      }
    }

    .o-figure-menu {
      right: 0px;
      top: 0px;
      display: none;
    }

    .o-figure-menu-item {
      cursor: pointer;
    }

    .o-figure.active:focus,
    .o-figure:hover {
      .o-figure-menu {
        display: flex;
      }
    }
  }
}
