.o-spreadsheet {
  div.o-grid-composer {
    color-scheme: light;
    z-index: var(--os-components-importance-grid-composer);
    position: absolute;
    font-family: var(--os-default-font);

    display: flex;
    align-items: center;
  }

  div.o-cell-reference {
    position: absolute;
    z-index: var(--os-components-importance-grid-composer);
    background: var(--os-selection-border-color);
    color: white;
    font-size: 12px;
    line-height: 14px;
    padding: 6px 7px;
    border-radius: 4px;
  }
}
