.o-corner {
  position: absolute;
  height: 6px;
  width: 6px;
  border: 1px solid white;
}

.o-corner-nw,
.o-corner-se {
  &:hover {
    cursor: nwse-resize;
  }
}

.o-corner-ne,
.o-corner-sw {
  &:hover {
    cursor: nesw-resize;
  }
}

.o-resizing {
  cursor: grabbing;
}
