.o-spreadsheet {
  .o-corner {
    position: absolute;
  }

  .o-corner-button {
    border: 1px solid white;
    height: var(--os-autofill-edge-length);
    width: var(--os-autofill-edge-length);
  }
  .o-corner-nw,
  .o-corner-se {
    &:hover {
      cursor: nwse-resize;
    }
  }
  .o-corner-ne,
  .o-corner-sw {
    &:hover {
      cursor: nesw-resize;
    }
  }
  .o-resizing {
    cursor: grabbing;
  }
}
