.o-spreadsheet {
  .o-dv-input {
    &.o-invalid {
      background-color: var(--os-alert-danger-bg);
    }
    .error-icon {
      right: 8px;
      top: 0;
      bottom: 0;
      pointer-events: none;
    }
  }
}
