.o-spreadsheet {
  .o-fullscreen-chart-overlay {
    z-index: 34; /* TODO: use css variables once ComponentsImportance is available in the scss. */
    background-color: rgba(0, 0, 0, 0.4);
    padding: 60px;

    .o-figure:not(:hover) .o-dashboard-chart-select {
      display: block !important;
    }
  }
}
