.o-spreadsheet .o-figure {
  &:not(:hover):not(:focus-within) .o-dashboard-chart-select {
    visibility: hidden;
  }

  .o-dashboard-chart-select {
    cursor: default;
    > div {
      height: 28px;
    }

    .o-chart-item {
      &.active,
      &:hover,
      &:target {
        cursor: pointer;
        color: var(--os-gray-900) !important;
        background-color: var(--os-background-gray-color-hover);
      }

      .o-icon {
        width: 14px;
        height: 14px;
        font-size: 14px !important;
      }

      .o-chart-preview {
        stroke-width: 2px;
        transform: scale(1.1);
        width: 16px;
        height: 16px;
      }
    }
  }
}

.o-spreadsheet {
  &.o-spreadsheet-mobile .o-figure {
    .o-dashboard-chart-select {
      display: block !important;
    }
  }
}
