.o-spreadsheet {
  @keyframes o-spreadsheet-slice-in {
    0% {
      transform: translate(calc(-100% + 24px), calc(-100% + 24px));
    }

    100% {
      transform: translate(0%, 0%);
    }
  }

  .o-dashboard-menu-expandable {
    animation: o-spreadsheet-slice-in 150ms 0ms ease-in forwards;
  }

  @keyframes o-spreadsheet-grow {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .o-dashboard-menu {
    width: 24px;
    height: 24px;
    animation: o-spreadsheet-grow 100ms 0ms ease-in forwards;
    overflow: hidden;
  }
}
