.o-spreadsheet {
  .o-number-editor {
    width: max-content !important;

    input {
      outline: none;
      height: 20px;
      width: 31px;
      text-align: center;
    }
  }
  .o-text-options > div {
    cursor: pointer;
    line-height: 26px;
    padding: 3px 12px;
    &:hover {
      background-color: var(--os-background-gray-color-hover);
    }
  }
}
