.o-spreadsheet {
  a.o-link-info {
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
    color: var(--os-link-color);
    text-decoration: none;
  }

  a.o-link-info:hover {
    color: var(--os-link-hover-color);
    cursor: pointer;
  }
}
