.o-spreadsheet {
  .o-more-formats-panel {
    .o-format-proposals {
      border: 1px solid var(--os-gray-300);
      max-height: 320px;
      font-size: 12px;
    }

    .o-format-examples {
      background: light-dark(var(--os-gray-100), var(--os-gray-200));
      border: 1px solid var(--os-gray-300);
    }

    table {
      table-layout: fixed;
    }

    .format-preview {
      height: 26px;
      cursor: pointer;

      &.active,
      &:hover {
        background-color: var(--os-background-gray-color-hover) !important;
      }

      &.active:hover {
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
  }
}
