.o-spreadsheet {
  .o-more-formats-panel {
    .format-preview {
      height: 49px;
      cursor: pointer;
      &:hover {
        background-color: var(--os-background-gray-color-hover) !important;
      }
    }
    .check-icon {
      width: 24px;
    }
  }
}
