.o-spreadsheet .o-spreadsheet-small-bottom-bar {
  background-color: var(--os-background-gray-color);

  .o-selection-button {
    border-radius: 2px;
    background-color: var(--os-gray-200);
    .o-icon {
      width: 24px;
      height: 24px;
      color: var(--os-green-arrow-color);
    }
  }

  .o-small-composer {
    line-height: 26px;
    display: flex;
    z-index: var(--os-components-importance-top-bar-composer);
  }

  .bottom-bar-menu {
    background-color: var(--os-background-gray-color);
  }

  .o-spreadsheet-bottom-bar {
    border: none;
  }

  .o-composer {
    overscroll-behavior: contain;
  }

  .o-composer-assistant-container {
    transform: translateY(calc(-26px - 100%));
  }

  .o-spreadsheet-editor-symbol {
    height: 33px;
    cursor: pointer;
    user-select: none;
  }
}
