.o-spreadsheet .o-spreadsheet-small-bottom-bar {
  background-color: var(--os-background-gray-color);
  border-bottom: #f2f2f2;

  .o-selection-button {
    border-radius: 2px;
    background-color: #e7e9ed;
    .o-icon {
      width: 24px;
      height: 24px;
      color: #6aa84f;
    }
  }

  .o-small-composer {
    background-color: white;
    border: lightgrey solid 1px;
    line-height: 26px;
    display: flex;
    z-index: var(--os-components-importance-top-bar-composer);
  }

  .bottom-bar-menu {
    background-color: var(--os-background-gray-color);
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }

  .o-spreadsheet-bottom-bar {
    border: none;
  }

  .o-composer {
    overscroll-behavior: contain;
  }

  .o-composer-assistant-container {
    transform: translateY(calc(-26px - 100%));
  }

  .o-spreadsheet-editor-symbol {
    height: 33px;
    cursor: pointer;
    user-select: none;
  }
}
