.o-spreadsheet {
  .o-selection-statistic {
    margin-right: 20px;
    padding: 4px 4px 4px 8px;
    cursor: pointer;
    &:hover {
      background-color: var(--os-background-gray-color-hover) !important;
    }
  }
}
