.o-spreadsheet {
  .pivot-dimension {
    background-color: light-dark(var(--os-white), var(--os-gray-300));

    select.o-input {
      height: inherit;
    }

    .pivot-dim-operator-label {
      min-width: 120px;
    }

    &.pivot-dimension-invalid {
      background-color: var(--os-alert-danger-bg);
      border-color: var(--os-alert-danger-border) !important;
      input {
        background-color: transparent;
      }
    }
  }
}
