.o-spreadsheet {
  .pivot-dimension {
    border: 1px solid var(--os-gray-300);
    border-radius: 4px;

    select.o-input {
      height: inherit;
    }

    .pivot-dim-operator-label {
      min-width: 120px;
    }

    &.pivot-dimension-invalid {
      background-color: var(--os-alert-danger-bg);
      border-color: var(--os-alert-danger-border) !important;
      input {
        background-color: transparent;
      }
    }
  }
}
