.o-spreadsheet .o-spreadsheet-print {
  .o-print-header {
    background-color: var(--os-gray-600);

    button {
      width: 100px;
    }
  }

  .o-print-preview {
    background-color: var(--os-gray-200);

    .o-print-page {
      background-color: var(--os-white);
      padding: 70px;
    }
  }

  .o-sidePanel {
    width: 350px;
  }

  @page {
    /* print margin */
    margin: 0px;
  }

  @media print {
    .o-sidePanel,
    .o-print-header {
      display: none !important;
    }

    .o-print-container {
      display: block !important;
      overflow: visible !important;
    }

    .o-print-preview {
      box-shadow: none !important;
      height: auto;
      max-height: none;
      overflow: visible !important;

      .o-print-page {
        box-shadow: none !important;
        padding: 0 !important;
        margin: 0 !important;
      }
    }
  }
}
