.o-spreadsheet {
  .o-fullscreen-figure-overlay {
    z-index: 1505451;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 60px;
  }

  /* ADRM TODO:do szoemthign better, be need to overwirte o-figure ATM and we need o-figure for chart menu style */
  .o-fullscreen-figure {
    position: relative;
  }
}
