.o-spreadsheet {
  .o-client-tag {
    position: absolute;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    pointer-events: none;
    font-size: $os-default-font-size;
  }
}
