.o-spreadsheet {
  .o-pivot-sort {
    .o-sort-card {
      width: fit-content;
      background-color: var(--os-gray-100);

      .o-sort-value {
        color: var(--os-primary-button-bg);
      }
    }
  }
}
