.o-spreadsheet {
  .o-dropdown {
    position: relative;
    display: flex;
    align-items: center;
  }

  .o-dropdown-content {
    .o-dropdown-line {
      display: flex;

      > span {
        padding: 4px;
      }
    }
  }
}
