.o-spreadsheet {
  .o-figure-snap-line {
    position: relative;
    z-index: var(--os-components-importance-figure-snap-line);
    &.vertical {
      width: 0px;
      border-left: 1px dashed black;
    }
    &.horizontal {
      border-top: 1px dashed black;
      height: 0px;
    }
  }
  .o-figure-container {
    -webkit-user-select: none; /* safari */
    user-select: none;
  }
  .o-selected-border {
    border: 1.5px dashed var(--os-selection-border-color);
    z-index: var(--os-components-importance-figure-snap-line);
    opacity: 1;
  }
  .o-figure.o-add-to-carousel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px);
    z-index: 5;
    pointer-events: none;
  }

  .o-figure.o-add-to-carousel::after {
    content: "+";
    position: absolute;
    top: calc(50% - 15px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    z-index: 10;
    pointer-events: none;
    font-weight: bold;
  }
}
