.o-spreadsheet {
  .o-header-group {
    .o-header-group-header {
      z-index: var(--os-components-importance-header-grouping-button);
      .o-group-fold-button {
        cursor: pointer;
        width: 15px;
        height: 15px;
        border: 1px solid var(--os-gray-500);
        .o-icon {
          width: 7px;
          height: 7px;
        }

        &:hover {
          border-color: var(--os-gray-600);
        }
      }
    }

    .o-group-border {
      border-color: var(--os-background-gray-color);
    }
  }
}
