.o-header-group-frozen-pane-border {
  &.o-group-rows {
    margin-top: -1px;
    border-bottom: 3px solid $os-frozen-pane-header-border-color;
  }
  &.o-group-columns {
    margin-left: -1px;
    border-right: 3px solid $os-frozen-pane-header-border-color;
  }
}

.o-header-group-main-pane {
  &.o-group-rows {
    margin-top: -2px; /* Counteract o-header-group-frozen-pane-border offset */
  }
  &.o-group-columns {
    margin-left: -2px;
  }
}
