.o-spreadsheet {
  .os-input {
    border-width: 0 0 1px 0;
    border-color: transparent;
    outline: none;
    text-overflow: ellipsis;
    color: $os-text-body;
  }
  .os-input:hover,
  .os-input.o-input-border {
    border-color: $os-gray-300;
  }
  .os-input:focus {
    border-color: $os-action-color;
  }
}
