.o-spreadsheet {
  .os-input {
    border-width: 0 0 1px 0;
    border-color: transparent;
    outline: none;
    text-overflow: ellipsis;
    color: var(--os-text-body);
  }
  .os-input:hover,
  .os-input.o-input-border {
    border-color: var(--os-border-color);
  }
  .os-input:focus {
    border-color: var(--os-action-color);
  }
  .os-input.o-invalid {
    background-color: var(--os-alert-danger-bg);
    border-color: var(--os-alert-danger-border);
  }
  .os-input-error-icon {
    right: 7px;
    top: 4px;
  }
}
