.o-spreadsheet-bottom-bar {
  background-color: $os-background-gray-color;
  padding-left: $os-header-width;
  font-size: 15px;
  border-top: 1px solid lightgrey;

  .o-sheet-item {
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }

  .o-all-sheets {
    max-width: 70%;
    .o-bottom-bar-fade-out {
      background-image: linear-gradient(-90deg, #cfcfcf, transparent 1%);
    }

    .o-bottom-bar-fade-in {
      z-index: 1;
      background-image: linear-gradient(90deg, #cfcfcf, transparent 1%);
    }

    .o-sheet-list {
      overflow-y: hidden;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none; /* Chrome */
      }
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  .o-bottom-bar-arrows {
    .o-bottom-bar-arrow {
      cursor: pointer;
      &:hover:not([class*="o-disabled"]) {
        .o-icon {
          opacity: 0.9;
        }
      }

      .o-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
      }
    }
  }
}

.o-spreadsheet-mobile .o-spreadsheet-bottom-bar {
  padding-left: 0;

  .add-sheet-container {
    order: 2;
  }

  .o-add-sheet {
    margin-left: 0.5rem;
  }

  .o-all-sheets {
    max-width: none;
  }
}
