.o-spreadsheet {
  .o-standalone-composer {
    min-height: 24px;

    &.active {
      border-color: var(--os-action-color) !important;
    }

    &.o-invalid {
      border-bottom: 1px solid red !important;
      background-color: var(--os-alert-danger-bg);
    }

    /* As the standalone composer is potentially very small (eg. in a side panel), we remove the scrollbar display */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
