.o-spreadsheet {
  .o-standalone-composer {
    min-height: 24px;

    border-bottom: 1px solid;
    border-color: $os-gray-300;

    &.active {
      border-color: $os-action-color;
    }

    &.o-invalid {
      border-bottom: 2px solid red;
    }

    /* As the standalone composer is potentially very small (eg. in a side panel), we remove the scrollbar display */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
