.o-spreadsheet {
  .o-figure-dnd-container {
    z-index: var(--os-components-importance-popover);

    * {
      pointer-events: none !important;
    }
  }
  .o-figure-snap-line {
    position: relative;
    z-index: var(--os-components-importance-figure-snap-line);
    &.vertical {
      width: 0px;
      border-left: 1px dashed var(--os-gray-800);
    }
    &.horizontal {
      border-top: 1px dashed var(--os-gray-800);
      height: 0px;
    }
  }
}
