.o-spreadsheet {
  .o-html-grid {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    table {
      border-spacing: 0;
      td,
      th {
        padding: 0;
      }
    }
  }
}
