.o-spreadsheet {
  .o-table-style-picker {
    .o-table-style-picker-arrow {
      &:hover {
        background: var(--os-button-hover-bg);
        cursor: pointer;
      }
    }

    .o-table-style-list-item {
      padding: 5px 6px;
      margin: 5px 2px;
    }

    .o-pivot-previews {
      .o-table-style-list-item {
        padding: 5px 4px;
        margin: 5px 2px;

        .o-table-preview {
          width: 56px;
          height: 49px;
        }
      }
    }

    .o-table-previews {
      .o-table-style-list-item {
        padding: 5px 6px;
        margin: 5px 2px;

        .o-table-preview {
          width: 51px;
          height: 36px;
        }
      }
    }
  }
}
