.o-spreadsheet {
  .o-table-style-picker {
    border: 1px solid var(--os-gray-300);
    border-radius: 3px;

    .o-table-style-picker-arrow {
      border-left: 1px solid var(--os-gray-300);

      &:hover {
        background: #f5f5f5;
        cursor: pointer;
      }
    }

    .o-table-style-list-item {
      padding: 5px 6px;
      margin: 5px 2px;

      .o-table-style-picker-preview {
        width: 51px;
        height: 36px;
      }
    }
  }
}
