:root {
  font-size: 12px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu,
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji" !important;
  height: 100dvh !important;
  width: 100dvw !important;
}

.o-spreadsheet .o-test-notification {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid var(--os-gray-300);
  border-left-width: 5px;
  border-left-style: solid;
  z-index: 10000;
  width: 400px;

  &.info {
    border-left-color: var(--bs-info);
  }

  &.warning {
    border-left-color: var(--bs-warning);
  }

  &.danger {
    border-left-color: var(--bs-danger);
  }

  &.success {
    border-left-color: var(--bs-success);
  }
}
