$item-height: 35px;

.o-spreadsheet .o-ribbon-menu {
  height: 230px;

  .o-ribbon-title {
    background-color: lighten($background-gray-color, 5%);
  }
  .o-previous-button {
    background-color: $background-gray-color;
  }
  .o-ribbon-menu-wrapper {
    max-height: 100%;
  }
  .o-menu-item {
    height: $item-height;
  }
}
