.o-spreadsheet .o-ribbon-menu {
  height: 250px;

  .o-ribbon-title {
    background-color: color-mix(in srgb, var(--os-background-gray-color), white 5%);
    border-bottom: 2px solid #e0e2e4;
  }
  .o-previous-button {
    background-color: var(--os-background-gray-color);
  }
  .o-ribbon-menu-wrapper {
    max-height: 100%;
  }
  .o-menu-item {
    height: 40px;
  }
}
