$item-height: 40px;

.o-spreadsheet .o-ribbon-menu {
  height: 250px;

  .o-ribbon-title {
    background-color: lighten($background-gray-color, 5%);
    border-bottom: 2px solid #e0e2e4;
  }
  .o-previous-button {
    background-color: $background-gray-color;
  }
  .o-ribbon-menu-wrapper {
    max-height: 100%;
  }
  .o-menu-item {
    height: $item-height;
  }
}
