$item-height: 40px;

.o-spreadsheet .o-ribbon-menu {
  height: 250px;

  .o-ribbon-title {
    background-color: lighten($background-gray-color, 5%);
    border-bottom: 2px solid #e0e2e4;
  }
  .o-previous-button {
    background-color: $background-gray-color;
  }
  .o-ribbon-menu-wrapper {
    max-height: 100%;

    &.scroll-top::before {
      width: 100%;
      height: 100%;
      content: "";
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
      position: fixed;
      pointer-events: none;
    }
    &.scroll-bottom::after {
      width: 100%;
      height: 100%;
      content: "";
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
      position: fixed;
      pointer-events: none;
      z-index: 1;
      top: 100%;
    }
  }
  .o-menu-item {
    height: $item-height;
  }
}
