.o-spreadsheet .o-ribbon-menu {
  height: 250px;

  .o-ribbon-title {
    background-color: color-mix(in srgb, var(--os-background-gray-color), white 5%);
    border-bottom: 2px solid var(--os-gray-200);
  }
  .o-previous-button {
    background-color: var(--os-background-gray-color);
  }
  .o-ribbon-menu-wrapper {
    max-height: 100%;

    &.scroll-top::before {
      width: 100%;
      height: 15px;
      content: "";
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
      position: absolute;
      pointer-events: none;
    }

    &.scroll-bottom::after {
      width: 100%;
      height: 15px;
      content: "";
      background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
      position: absolute;
      pointer-events: none;
      z-index: 1;
      bottom: 0;
    }
  }
  .o-menu-item {
    height: 40px;
  }
}
