.o-spreadsheet {
  .o-chart-suggestions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
  }

  .o-chart-drag-preview {
    box-sizing: content-box;
    z-index: 9999;
  }

  .o-stat-sort-header:not(:hover) .o-caret-sort-icon {
    visibility: hidden;
  }
}
