.o-spreadsheet {
  .o-chart-suggestions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
  }

  .o-data-analysis-chart {
    height: 200px;
    cursor: pointer;
    border: 1px solid var(--os-border-color);
  }
}
