.o-spreadsheet {
  .o-find-and-replace {
    outline: none;
    height: 100%;
    .o-input-search-container {
      padding: 4px 0;
      .o-input-with-count {
        flex-grow: 1;
        width: auto;
      }
      .o-input-without-count {
        width: 100%;
      }
      .o-input-count {
        width: fit-content;
        white-space: nowrap;
      }
    }
    .o-result-buttons {
      .o-button {
        min-height: 23px;
        width: 23px;
        .o-icon {
          height: 14px;
          width: 14px;
        }
      }
    }
  }
}
