$os-gray-300: #d8dadd;
$os-gray-400: #ced4da;
$os-gray-900: #111827;

$os-text-body: #374151;
$os-button-active-bg: #e6f2f3;
$os-button-active-text-color: $os-gray-900;

$background-gray-color: #f5f5f5;
$os-composer-assistant-color: #9b359b;
