.o-spreadsheet .o-figure {
  &:not(:hover):not(:focus-within) .o-dashboard-chart-select {
    visibility: hidden;
  }

  .o-dashboard-chart-select {
    cursor: default;

    .o-chart-dashboard-item {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1;
      filter: grayscale(1);

      &.active,
      &:hover,
      &:target {
        filter: grayscale(0);
        background: $os-button-active-bg;
      }
      .o-chart-preview {
        transform: scale(1.2);
        width: 16px;
        height: 14px;
      }
    }
  }
}

.o-spreadsheet {
  &.o-spreadsheet-mobile .o-figure {
    .o-dashboard-chart-select {
      display: block !important;
    }
  }
}
