.o-spreadsheet {
  .o-speech-bubble {
    background-color: var(--os-white-bg);
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    z-index: var(--os-components-importance-popover);

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      background-color: var(--os-white-bg);
      height: var(--os-bubble-arrow-size);
      width: var(--os-bubble-arrow-size);
      transform-origin: top left;
      transform: translate(0, -67%) rotate(45deg);
      border-right: 1px solid var(--os-border-color);
      border-bottom: 1px solid var(--os-border-color);
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    }
  }
  .o-speech-content {
    max-width: 300px;
  }
}
