.o-spreadsheet {
  .o-speech-bubble {
    background-color: white;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    border: 1px solid #ccc;
    z-index: $os-components-importance-popover;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      background-color: white;
      height: $os-bubble-arrow-size;
      width: $os-bubble-arrow-size;
      transform-origin: top left;
      transform: translate(0, -67%) rotate(45deg);
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    }
  }
  .o-speech-content {
    max-width: 300px;
  }
}
