.o-spreadsheet {
  .o-autocomplete-dropdown {
    pointer-events: auto;
    cursor: pointer;
    max-width: 400px;
    z-index: 1;
    .o-autocomplete-value-focus {
      background-color: var(--os-composer-assistant-background);
    }
    & > div {
      padding: 2px 5px 2px 5px;
      .o-autocomplete-description {
        padding-left: 5px;
        font-size: 11px;
      }
    }

    .o-icon {
      width: 13px;
      height: 13px;
      font-size: 13px;
      color: var(--os-text-body-muted);
    }
  }
}
