.o-spreadsheet {
  .o-autocomplete-dropdown {
    pointer-events: auto;
    cursor: pointer;
    max-width: 400px;
    z-index: 1;
    background-color: var(--os-popover-bg);
    .o-autocomplete-value-focus {
      background-color: var(--os-hovered-menu-item-color);
    }
    .o-autocomplete-content {
      padding: 1px 5px 5px 5px;
      .o-autocomplete-description {
        padding-left: 5px;
        font-size: 11px;
      }
    }

    .o-icon {
      width: 13px;
      height: 13px;
      font-size: 13px;
      color: var(--os-text-body-muted);
    }
  }
}
