.o-spreadsheet {
  .o-autocomplete-dropdown {
    pointer-events: auto;
    cursor: pointer;
    max-width: 400px;
    z-index: 1;
    .o-autocomplete-value-focus {
      background-color: var(--os-composer-assistant-background);
    }
    & > div {
      padding: 1px 5px 5px 5px;
      .o-autocomplete-description {
        padding-left: 5px;
        font-size: 11px;
      }
    }
  }
}
