.o-autocomplete-dropdown {
  pointer-events: auto;
  cursor: pointer;
  background-color: #fff;
  max-width: 400px;
  z-index: 1;

  .o-autocomplete-value-focus {
    background-color: #f2f2f2;
  }

  & > div {
    padding: 1px 5px 5px 5px;

    .o-autocomplete-description {
      padding-left: 5px;
      font-size: 11px;
    }
  }
}
