.o-spreadsheet {
  .o-grid-add-rows {
    color-scheme: light;
    color: var(--os-text-body);
    input.o-input {
      width: 60px;
      height: 30px;
    }
    .o-validation-error {
      display: inline-block !important;
      margin-top: 0;
      margin-left: 8px;
    }
  }
}
