.o-spreadsheet {
  .o-composer-container {
    .o-composer {
      overflow-y: auto;
      overflow-x: hidden;
      word-break: break-all;
      padding-right: 2px;

      caret-color: black;
      padding-left: 3px;
      padding-right: 3px;
      outline: none;

      tab-size: 4;

      p {
        margin-bottom: 0px;

        span {
          white-space: pre-wrap;
          /* On some browsers (chromium ?) it is somehow possible to hover two of the composer's spans at the same time, leading to
           * flickering with a succession of onmouseenter/onmouseleave events. A small invisible padding seems to prevent the issue.*/
          padding-left: 0.01px;

          &.selector-flag:after {
            content: "␣";
            color: #a9a9a9;
          }

          &.highlight-parenthesis-flag:not(.highlight-flag) {
            border-radius: 5px;
            background-color: lightgray;
            padding: 1.5px 0px 1.5px 0px;
          }

          &.highlight-flag {
            background-color: #e6edf3;
          }
        }
      }
    }
    .o-composer[placeholder]:empty:not(:focus):not(.active)::before {
      content: attr(placeholder);
      color: #bdbdbd;
      position: relative;
      top: 0%;
      pointer-events: none;
    }

    .fa-stack {
      /* reset stack size which is doubled by default */
      width: 18px;
      height: 18px;
      line-height: 18px;
    }

    .force-open-assistant {
      left: -1px;
      top: -1px;

      .fa-question-circle {
        color: $os-button-primary-bg;
      }
    }

    .o-composer-assistant {
      margin-top: 1px;

      .o-semi-bold {
        /* FIXME: to remove in favor of Bootstrap
        * 'fw-semibold' when we upgrade to Bootstrap 5.2
        */
        font-weight: 600 !important;
      }
    }
  }
}
