name: Release Workflow
on:
  push:
    # Match LTS, saas releases >= 10 and master
    branches: ['[1-9][0-9].[0-9]', 'saas-[1-9][0-9].[0-9]', 'master']
jobs:
  release:
    if: contains(github.event.head_commit.message, '[REL]')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          registry-url: 'https://registry.npmjs.org'
      - name: Parse
        id: parse
        # should work with le latest stable node
        # parse-message will fail on invalid commit title/body
        run: |
          npm i @actions/core @actions/github --no-save &&\
          echo "data=$(node tools/parse_message.cjs)" >> $GITHUB_OUTPUT
      # generate all builds
      - name: Build
        run: npm ci && npm run dist
      - name: Release
        uses: ncipollo/release-action@v1.12.0
        with:
          tag: ${{ fromJSON(steps.parse.outputs.data).version }}
          body: ${{ fromJSON(steps.parse.outputs.data).body }}
<<<<<<< 468dc613fc17d08d69e2c4ffaf8e5cc45541c5b1
          artifacts: "./dist/*.*"
          makeLatest: false
||||||| 6b7c8085ad82f836da1caae405901921b100ddf9
          artifacts: "./dist/*.*"
          makeLatest: true
=======
          artifacts: "./dist/*.*,./dist/o_spreadsheet.css"
          makeLatest: true
>>>>>>> ffdd8e13907ae20046510e57287191247436f398
          prerelease: ${{ fromJSON(steps.parse.outputs.data).prerelease }}
      - name: Publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
